.about-me-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;

}

.about-me-container ul li {
    list-style-type: none;
    margin-top: 3px;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
}

span {
    font-weight: bold;
}

h2 {
    margin-left: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.abtme {
    margin-left: 17px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
}