.footer-container {
    height: 40px;
    background-color: rgb(192, 194, 195);
    display: flex;
    justify-content: center;  /* centers horizontally */
    align-items: center;  
}

.footer-container p {
    margin: 0;
    font-size: 14px;
    color: black;
}