.header-nav{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: #c0b6b3;
}
.header-nav li{
    list-style: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: large;
}

.header-nav li:hover{
    background-color: #e0dbdb;
    border-radius: 5px;
    transition: background-color 0.5s ease-in-out;
}
.header-container{
    top: 0;
    position: sticky;
}

.header-icon{
    font-size: 30px;
}