.profile-container{
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fFF;
    width: 500px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    margin-bottom:  30px;
}