.profile-picture-container img{
    width: 150px;
    height: 120px;
    object-fit: cover;
    margin-left: 100px;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.65), 0 2px 8px rgba(0,0,0,0.18);
    transition: transform 0.3s, box-shadow 0.3s;
}

.profile-picture-container img:hover {
   background-position: -100px 100px, -100px 100px;
  transform: rotate3d(0.5, 1, 0, 30deg);
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.75), 0 4px 16px rgba(0,0,0,0.25);
}

.profile-picture-container{
    display: flex;
    justify-self: space-between;
    align-items: center;
    
    width: 100%;
}

.profile-text{
    margin-left: 50px;
    color: #333; 
}